body{
    background-color: #504e4e;
}

*{
    box-sizing: border-box;
}

.cont{
    margin-top: 50px;
}
.gameTikTakZone{
    display: block;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    padding: 1px;
    width: 500px;
    height: 500px;
    box-shadow: rgb(190, 190, 190) inset  15px 15px 15px 15px;
}

.boxForElement{
    width: 153px;
    height: 155px;
    background-color: #939191;
    border-radius: 5px;
    cursor: pointer;
    color: aliceblue;
    font-size: 120px;
    text-align: center;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#reload{
    text-align: center;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 40px;
    width: 500px;
    background-color: #939191;
    color: aliceblue;
}